PROCESS_TYPE=direct-mongo
APP_NAME='Paraffin Broker'
DB_PONTE_NAME=mongodb://localhost:27017/ponte
DB_AUTH_URL=mongodb://localhost:27017/paraffin
DB_AUTH_COLLECTION=authBroker
MQTT_PORT=1883
HTTP_PORT=3000
COAP_PORT=5683
LOG_LEVEL=info
